@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@tailwind utilities;
:root {
  color-scheme: light !important;
}
[data-theme] {
  color-scheme: light !important;
}

@font-face {
  font-family: 'ar1';
  src: url('/fonts/alfont_com_ArabicPoetry-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ar2';
  src: url('/fonts/alfont_com_29LT-Azer-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  scroll-behavior: smooth;
  scrollbar-width: none; /* للـ Firefox */
  -ms-overflow-style: none; /* للـ Edge القديم */
}


#boxRef {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

