#header {
   background:
    linear-gradient(rgba(0, 0, 0, 0.4), var(--color-neutral)),
    url("https://images.unsplash.com/photo-1752900385516-71e2b34a1a0a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170") 
    no-repeat center center/cover;

   background-attachment: fixed;
}
